target/META-INF/mule-src/crone-logger/src/main/mule/crone-logger.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="crone-loggerFlow" doc:id="07ca2ed3-d481-404d-b85b-a0f2343db435" >
		<scheduler doc:name="Every 3 seconds" doc:id="b338cdaa-cfc1-4cae-86b3-1d0094f46b62" >
			<scheduling-strategy >
				<fixed-frequency frequency="3" timeUnit="SECONDS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Transform Message" doc:id="77add861-de81-4db2-b0be-386ac554d90b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: "Hello World!",
	date: now
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="5c908607-6296-42f5-a9c7-00e0eebfd8e8" message="#[payload]"/>
	</flow>
</mule>
